[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
werkzeug = "*"
django-environ = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-on-heroku = "*"
markdown = "*"
djangorestframework = "*"
django-filter = "*"
psycopg2 = "*"
django-cors-headers = "*"
django-registration-redux = "*"
djoser = "*"
pillow = "*"

[requires]
python_version = "3.8"
